*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}
html{
    text-decoration: none;
}
.header nav{
    background: linear-gradient(to left, #0a2558, #051a41) !important;
    width: 100%;
}
.header nav .nav-link{
    color: #fff !important;
}
.header nav .navbar-brand{
    color: #fff !important;
    align-items: center;
    display: flex;
} 
.header nav .bxs-chevrons-down{
    color: #fff !important;
    box-shadow: 0 !important;
    outline: 0;
    animation-duration: 2000ms;
    font-size: 36px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.header nav .logo_name{
    font-size: 20px;
    font-weight: 550;
}
.header nav .navbar-brand i{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.header nav .nav-links a{
    height: 45px;
    width: 100%;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    margin-bottom: 1.7px;
}
.header nav .nav-links a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-bottom: .35rem;
}
.header nav .nav-links a:hover{
    background: #081d45;
    transform: translateX(4px);
    box-shadow: 0 0 3px 0px rgba(167, 157, 157, 0.5);
    border-radius: 5px;
}