/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family:'Poppins', sans-serif ;
    text-decoration: none;
}
* >  a{
    text-decoration: none;
}
html{
   list-style: none;
}
body{
    min-height:100vh ;
}
.container-news-sec {
    padding-right: 0px !important;
}
/* sidebar css */
.sidebar{
    height: 100%;
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0a2558;
    transition: all .5s ease-in-out;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 38px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name{
    font-size: 20px;
    font-weight: 550;
    color: #fff;
    margin-left: 8px ;
    letter-spacing: .1rem;
}
.sidebar .nav-links{
    margin-top: 16px;
    padding-left: 1.5px !important;
}
.sidebar .nav-links li{
    height: 45px;
    width: 100%;
    list-style: none;
}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    margin-bottom: 1.7px;
}
.sidebar .nav-links li a:hover{
    background: #081d45;
    transform: translateX(4px);
    box-shadow: 0 0 3px 0px rgba(167, 157, 157, 0.5);
    border-radius: 5px;
}
.sidebar .nav-links li a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 19px;
    padding-bottom: .35rem;
}
.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

/* home section css */

.home-section{
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: ease-in-out .5s;
}
.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    height: 80px;
    background: #fff;
    padding: 0 20px;
    left: 240px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 0px rgba(37, 32, 32, 0.5);
    z-index: 9999;
    transition: all .5s ease-in-out;
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 500;
}
.home-section nav .sidebar-button i{
    font-size: 60px;
    margin-right: 10px;
    cursor: pointer;
    color: #0a2558;
}
.home-section nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    color: #000;
    background: #f5f6fa;
    border: 2px solid #cac9ce;
    outline: none;
}
nav .search-box .bx-search-alt{
    position: absolute;
    right: 5px;
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: #2697ff;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
nav .profile-details{
    height: 50px;
    display: flex;
    min-width: 190px;
    background: #f5f6fa;
    border: 2px solid #efeeef;
    align-items: center;
    border-radius: 6px;
    padding: 0 15px 0 2px;
    box-shadow: 0 4px  4px  rgba(0, 0, 0, .1);
    transition: ease-in-out .7s;
}
nav .profile-details:hover{
    transform: translateX(-9px);
}
nav .profile-details img{
    height: 45px;
    width: 45px;
    border-radius: 6px;
    object-fit: cover;
}
nav .profile-details .admin_name{
    font-size: 15px ;
    font-weight: 550;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i{
    color: #333;
    font-size: 25px;
}
.home-section .home-content{
    padding-top: 100px;

}
/* second navbar */
.header nav{
    background: linear-gradient(to left, #0a2558, #051a41) !important;
    width: 100%;
    padding: 5px 5px;
}
.header nav .nav-link{
    color: #fff !important;
}
.header nav .navbar-collapse{
    background: linear-gradient(to left, #0a2558, #051a41);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 0;
}
.header nav .navbar-brand{
    color: #fff !important;
    align-items: center;
    display: flex;
} 
.header nav .bxs-chevrons-down{
    color: #fff !important;
    box-shadow: 0 !important;
    outline: 0;
    animation-duration: 2000ms;
    font-size: 36px;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.header nav .logo_name{
    font-size: 20px;
    font-weight: 550;
}
.header nav .navbar-brand i{
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.header nav .nav-links a{
    height: 45px;
    width: 100%;
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all .4s ease-in-out;
    margin-bottom: 1.7px;
}
.header nav .nav-links a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding-bottom: .35rem;
}
.header nav .nav-links a:hover{
    background: #081d45;
    transform: translateX(4px);
    box-shadow: 0 0 3px 0px rgba(167, 157, 157, 0.5);
    border-radius: 5px;
}
/* top card boxes  */
.home-content .overview-boxes{
    flex-wrap: wrap;
}
.home-content .overview-boxes .box{
  padding: 15px 14px;
  background: #fff;
  display: flex !important;
  align-items: center;
  border-radius: 7px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.home-content .overview-boxes .box_topic{
    font-size: 20px;
    font-weight: 550;
}
.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 550;
    display: inline-block;
    color: green;
    margin-top: -5px;
}
.overview-boxes .indicator{
    display: flex !important;
    align-items: center;
}
.overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #31b197;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}
.overview-boxes .indicator .text{
    font-size:12px;
}
.overview-boxes .box .chart{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #1f80e9;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    margin-left: 15px;
}
.overview-boxes .box .chart.two{
    background: #2bd47d;
    color: #fff;
}
.overview-boxes .box .chart.three{
   color : #ffc233;
    background: #ffe8b3;
}
.line::before{
    content: "";
    background-color: rgb(136, 243, 150);
    display: inline-block;
    height: 5px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    border-radius: 40px;
}
/* news section  */
.news-text{
    font-size: 14px;
}
.newsbox{
    background: #ebe9e9;
    border-radius: 5px;
    padding: 10px 30px;

}
.read-more-btn{
    background: #0a2558;
    overflow: hidden;
    outline: hidden;
    align-items: center;
    display: inline-block;
    transition: all .4s ease-in-out;
}
.read-more-btn i{
    font-size: 20px;
    text-align: center;
    transform: translateY(20%);
    width: 10px;
}
.read-more-btn:hover{
    background: #081d45;
    transform: translateY(-4px);
}
/* last cards  */
.card, .list-group-item{
    background: #0a2558;
    color: #fff;
}
.card{
    box-shadow: 25px 14px 51px 2px rgba(0,0,0,0.72);
-webkit-box-shadow: 25px 14px 51px 2px rgba(0,0,0,0.72);
-moz-box-shadow: 25px 14px 51px 2px rgba(0,0,0,0.72);
}
.cards-section{
    align-items: center;
}
.list-group-item{
    font-size: 12px;
    
}
.list-group-item i{
    font-size: 30px;
    margin-right: 10px;
}
.card-icon{
    align-items: center;
    text-align: center;
}
.card-icon i{
   margin-right: 16px;
   font-size: 30px;
   cursor: pointer;
   transition: all .3s ease-in-out;
}
.card-icon i:hover{
    transform: translateY(-7px);
    font-size: 35px;
}
.green{
    color: rgb(136, 243, 150);
}
/* for responsiveness  */
@media (max-width: 1500px){
    .home-section nav{
        width: calc(100% - 240px);
        left: 240px;
    }
    .sidebar.active{
        width: 240px;
    }
    .sidebar.active ~ .home-section{
        width: calc(100% - 240px);
        left: 240px;
    }
    .sidebar.active ~ .home-section nav{
        width: calc(100% - 240px);
        left: 240px;
    }
}
@media (max-width: 1216px){
    .sidebar{
        width: 60px;
    }
    .home-section{
        width: calc(100% - 60px);
        left: 60px;
    }
    .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active{
        width: 220px;
    }
    .sidebar.active ~ .home-section{
        width: calc(100% - 220px);
        left: 220px;
    }
    .sidebar.active ~ .home-section nav{
        width: calc(100% - 220px);
        left: 220px;
    }
}
@media (max-width: 1048px){
    .home-content .overview-boxes .box{
        width: calc(65% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 1052px){
    .home-content .overview-boxes .box{
        width: calc(60% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 1018px){
    .home-content .overview-boxes .box{
        width: calc(80% / 2 - 15px);
        margin-bottom: 15px;
    }
}
@media (max-width: 658px){
    .home-section nav .sidebar-button .dashboard, nav .profile-details .admin_name, nav .profile-details .admin_name i{
        display: none;
    }
    nav .profile-details{
        min-width: 50px;
        height: 50px;
    }
    .home-content .overview-boxes .box{
        width: 100%;
    }
}
@media (max-width: 1181px){
    .home-content .overview-boxes .box{
    width: calc(65% / 2 - 15px);
 }
}
@media (max-width: 977px){
    .home-content .overview-boxes .box{
    width: calc(85% / 2 - 15px);
 }
}
@media (max-width: 737px){
    .home-content .overview-boxes .box{
    width: calc(100% / 2 - 15px);
 }
}
@media (max-width: 553px){
    .home-content .overview-boxes .box{
    width: calc(70% / 1 - 15px);
 }
}
@media (max-width: 768px){
    .home-content .overview-boxes .box{
    width: calc(65% / 2 - 15px);
 }
}
@media (max-width: 556px){
    .home-content .overview-boxes .box{
     width: calc(30% / 2 - 15px);
     flex-grow: 1 !important;
 }
}
@media (max-width: 990px){
    .home-content .overview-boxes .box{
    width: calc(80% / 2 - 15px);
 }
}
@media (max-width: 1004px){
    .home-content .overview-boxes .box{
    width: calc(80% / 2 - 15px);
 }
}
@media (max-width: 718px){
    .home-content .overview-boxes .box{
    width: 100%;
}
@media (max-width: 768px){
    .home-content .overview-boxes .box{
    width: 50%;
 }
 .home-content .overview-boxes .box.two{
        margin-left: 8px;
 }
 .card{
     align-content: center;
     width: calc(30% / 2 - 15px);
 }
}
@media (min-width: 558px) and (max-width: 748px){
    .home-content .overview-boxes .box{
    width: calc(85% / 2 - 15px);
 }
}
@media (min-width: 558px) and (max-width: 708px){
    .home-content .overview-boxes .box{
    flex-grow: 1;
 }
}
}
@media (min-width: 558px) and (max-width: 708px){
    .home-content .overview-boxes .box{
    flex-grow: 1;
 }
}
@media (min-width: 350px) and (max-width: 466px){
    .sidebar.active{
        width: 200px;
    }
    .sidebar.active ~ .home-section{
        max-width: 400rem;
    }
    .sidebar.active ~ .home-section nav .sidebar-button{
        display: block;
    }
    .sidebar.active ~ .home-section nav{
        width: calc(100% - 200px);
        left: 200px;
    }
    .sidebar.active ~  .home-section nav .search-box{
        display: none;
    }
     nav .profile-details i{
        display: none;
    }
    .sidebar.active ~ .home-section nav .sidebar-button{
            display: block;
    }
}
@media (min-width: 985px) and (max-width: 1500px){
    .header nav{
    display: none;
 }
}
@media (max-width: 985px){
    .sidebar{
    display: none;
 }
 .home-section nav{
  display: none;
}
 .header nav{
    display: block;
    left: 0;
    width: 100%;
    height: 50px;
 }
 .home-section {
    width: calc(100% - 0px);
    left: 0;
 }
 .card-container{
     align-items: center;
 }
}